@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 0;
margin: 0;}
/*navigation bar*/
ul{list-style-type: none;}
nav{
    background-color: black;
    font-size: 20px;
}
/*headings*/
h1, h2{
   font-family: 'PT Sans', sans-serif;
}
/*navigation bar*/
nav ul{list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}
/*styling of navigation bar*/
nav ul li{
    padding: 0.5rem;
    margin: 2rem;
    cursor: pointer;
    flex: auto;
    text-align: center;
    }
/*styling of navigation bar links*/
nav li a{ 
    text-decoration: none;
    color: aliceblue;
    padding: 10px;

}

/*styling of navigation bar links*/
nav li a:hover{
    background-color: rgb(129, 129, 129);


}
/*background image for tour page*/
.background{
    background-image: url(Images/concert.PNG);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover

}

body{
    margin: 0; 
    background-color: rgb(0, 0, 0);
    color: white;
overflow-x: hidden;
}
/*styling of logo */
.header{
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
  }
  /*styling for band image*/
  .flex-image{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    height: auto;
    padding: 20px;
  }
/*overall styling of footer*/
.footer{
    display: flex;
    padding: 15px 40px;
    text-align:center; 
    background-color: rgb(66, 66, 66);
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;

    

}
/*social links*/
.subfooter{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/*main form*/
.form{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0;
        margin: 0;
        }
/*email*/
.email{
    margin: auto;
    padding: 20px;
    width: 100%;
}
/*heading and paragraph within the form*/
.newsletter{
margin: auto;
padding: 0;
margin: 0;
}
/* subscribe button*/
.form button{
  padding: 10px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: rgb(10, 85, 65);

}
/* styling of subscribe button */
.form button:hover{
    background-color: rgb(97, 97, 97);
}
/* styling for the input of form*/
.form input{
    border: 2px solid;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
/*more button*/
.more{text-align: center;
}
/*styling of more button */
.more a{  color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;}
/* styling of more button link*/
.more a:hover, a:active {
        background-color: #767a7b;
      }
/*styling of brief introduction in the home page*/
.intro{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    background-color: rgb(85, 85, 56);
}
/*styling of the gallery*/
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
.gallery div{
    padding: 30px;
}
.gallery img{
    width: 100%;
    height:250px;
    margin: auto;
    }
/*styling of back to top button*/
.top{
    color: white;
    margin: 10px; 
    background-color: rgb(88, 145, 87, 1);
    display: inline; 
    padding: 10px; 
    border-radius: 20px;
    text-decoration: none;
}
/* styling of hr*/
hr{border-width: 1px;
background-color: white;
color: white;}
/* styling of the mainStore button in the store page*/
.mainStore{text-align: center;
}
/* styling of the mainStore button link*/
.mainStore a{  
    color: white;
    background-color: rgb(84, 84, 84);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;}
/* styling of the mainStore button link*/
.mainStore a:hover, a:active {
        background-color: red;
      }
/* media queries*/   
 @media(max-width:600px) {
    /*flex-direction of navigation bar*/
    nav ul{flex-direction: column;}
    nav ul li{text-align: center;}
    /*flex-direction of biography paragraph*/
    .main{flex-direction: column;}
    /*flex-direction of band logo*/
    .header{flex-direction: column;}
    /*flex-direction of band image*/
    .flex-image{flex-direction: column;
    height: auto;
    width: 100%;}
    /*flex-direction of tour lists*/
    .tour{flex-direction: column;}
    /*flex-direction of videos class*/
    .videos{flex-direction: column;
    justify-content: center;}
    .videos div{flex-direction: column;
    justify-content: center;}
    /*flex-direction and responsive layout of Youtube video*/
    .videos iframe{flex-direction: column;
        height: 350px;
        width: 80%;}
    /*flex direction of album*/
    .album{flex-direction: column;}
    .album div img{flex-direction: column;}
    /*flex-direction of gallery*/
    .gallery{flex-direction: column;}
    /*flex-direction of footer*/
    .footer{flex-direction: column;}
    /*background layout of background image in mobile view*/
    .background{
        background-size: 100% 50%;
       }
    /*styling of shop class*/
    .shop div{
        padding: 10px;
        margin: 124px;
    }
 }

   


/* When i was temporary working on my desktop */
@media(min-width:1008px){
    .header{width: 100%;
        max-width: 500px;
    }
   .album{flex-direction: row;
    justify-content: space-evenly;}
    .videos{flex-direction: column;
    justify-content: center;}

    
}
