*{box-sizing: border-box; font-family: Verdana, Geneva, Tahoma, sans-serif}
nav{
    background-color: rgb(21, 24, 27);
    font-size: 20px;}

nav ul{list-style-type: none;
        margin: 0;
    padding: 0;
display: flex;
}

nav ul li{
    padding: 0.5rem;
    margin: 2rem;
    cursor: pointer;
    flex: auto;
    text-align: center;
    }

nav li a{ 
    text-decoration: none;
    color: aliceblue;}


nav li a:hover{
    background-color: brown;

}


body{
    margin: 0; 
    background-color: rgb(0, 0, 0);
    color: white;}

.header{
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 500px;
    margin: auto;
    height: auto;
  }

.footer{
    display: flex;
    padding: 15px;
    text-align:center; 
    background-color: rgb(41, 48, 74);
    justify-content: space-around;
    flex-wrap: nowrap;}

 @media (max-width:600px) {
    nav ul{flex-direction: column;}
    nav ul li{text-align: center;}
    .main{flex-direction: column;}
    .header{flex-direction: column;}
    .flex-image{flex-direction: column;}
    .main{flex-direction: column;}
    .tour{flex-direction: column;}
    .videos{flex-direction: column;
    justify-content: center;}
    .videos div{flex-direction: column;
    justify-content: center;}
    .album{flex-direction: column;}
    .album div img{flex-direction: column;}

}
@media(min-width:1008px){
    .header{width: 100%;
        max-width: 500px;
    }
   .album{flex-direction: row;
justify-content: space-evenly;}
.videos{flex-direction: column;
justify-content: center;}

    
}
